.img {
    width: 900px;
    height: auto;
    max-width: 120%;
  }
  

  .hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }
  
  .hero-content h1, 
  .hero-content p {
    margin-bottom: 10px;
  }
  
  .hero-content a {
    margin-top: 20px;
  }
  

  .rounded-img {
    border-radius: 20px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); 
    width: 900px;
    height: auto; 
    max-width: 120%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
