.img {
    width: 900px;
    height: auto;
    max-width: 120%;
  }
  

  .hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }
  
  .hero-content h1, 
  .hero-content p {
    margin-bottom: 10px;
  }
  
  .hero-content a {
    margin-top: 20px;
  }
  

  .rounded-img {
    border-radius: 20px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); 
    width: 900px;
    height: auto; 
    max-width: 120%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button-navbar {
  display: inline-block; 
  padding: 10px 20px;
  color: white !important; 
  border-radius: 5px; 
  font-size: 16px; 
  cursor: pointer;
  text-align: center; 
  min-width: 150px; 
  width: auto;
}

.button-navbar:hover {
  background-color: #7d00b3; 
  color: white;
}
