/*===========================
    01.COMMON css 
===========================*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&family=Heebo:wght@300;400;500;600;700&display=swap");
html {
  scroll-behavior: smooth;
}

:root {
  --morado-claro: #f6f4ff;
  --negro: #1a1a1a;
  --ecommerce: #ddcdfc;
  --marketing: #63e58a;
  --morado-oscuro: #5915b2;
  --txt-secundario: #5f5f64;
  --gris-sueve: gainsboro;
  --celeste-claro: #e5ecff;
  --inicia: #edb8b8;
  --crisp: #f0c513;
  --blanco: white;
  --pay: #4fa8fb;
  --app: #f49076;
  --lending: #c8ad8d;
  --loyalty: #e481ea;
  --commander: #b4b6c1;
}

body {
  color: #676f73;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:focus,
input:focus,
textarea:focus,
button:focus,
.btn:focus,
.btn.focus,
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

a:hover {
  color: #7663ce;
}
.texto-tachado {
  text-decoration: line-through;
}
a {
  transition: all 0.3s ease-out 0s;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}

i,
span,
a {
  display: inline-block;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  margin: 0px;
  color: #263238;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 45px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 36px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h1 {
    font-size: 40px;
  }
}

.section-title span {
  font-size: 25px;
  font-weight: 600;
  color: #7663ce;
  margin-bottom: 10px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

@media (min-width: 767px) {
  ul {
    align-items: center;
  }
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin: 0px;
  color: #1a1a1a;
}

.img-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.error {
  color: orangered;
}

.success {
  color: #fff;
}

/*===== All Button Style =====*/
.main-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 1rem 2rem;
  font-size: 15px;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-in-out;
  background: #1a1a1a;
  overflow: hidden;
}
@media (max-width: 767px) {
  .main-btn {
    font-size: 15px;
  }
}
.main-btn:hover {
  color: #fff;
}

.btn-hover {
  position: relative;
  overflow: hidden;
}

.btn-hover::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.05);
  top: 50%;
  left: 50%;
  padding: 50%;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
  transform: translate3d(-50%, -50%, 0) scale(0);
}

.btn-hover:hover::after {
  transform: translate3d(-50%, -50%, 0) scale(1.3);
}

.scroll-top {
  width: 45px;
  height: 45px;
  background: #7663ce;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  bottom: 30px;
  right: 10px;
  z-index: 9;
  cursor: pointer;
  transition: all 0.3s ease-out 0s;
}

.scroll-top:hover {
  color: #fff;
  background: #5b4c9e;
}

@keyframes animation1 {
  0% {
    transform: translateY(30px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(30px);
  }
}

/*===== All Preloader Style =====*/
.preloader {
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  /* Change Background Color */
  background: #fff;
  z-index: 99999;
}

.preloader .loader {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.preloader .loader .ytp-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  margin-left: -32px;
  z-index: 18;
  pointer-events: none;
}

.preloader .loader .ytp-spinner .ytp-spinner-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  animation: ytp-spinner-linspin 1568.2353ms linear infinite;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
}

.preloader
  .loader
  .ytp-spinner
  .ytp-spinner-container
  .ytp-spinner-rotator
  .ytp-spinner-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  right: 50%;
}

.preloader
  .loader
  .ytp-spinner
  .ytp-spinner-container
  .ytp-spinner-rotator
  .ytp-spinner-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  left: 50%;
}

.preloader .loader .ytp-spinner-circle {
  box-sizing: border-box;
  position: absolute;
  width: 200%;
  height: 100%;
  border-style: solid;
  /* Spinner Color */
  border-color: #7663ce #7663ce #ddd;
  border-radius: 50%;
  border-width: 6px;
}

.preloader .loader .ytp-spinner-left .ytp-spinner-circle {
  left: 0;
  right: -100%;
  border-right-color: #ddd;
  animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
}

.preloader .loader .ytp-spinner-right .ytp-spinner-circle {
  left: -100%;
  right: 0;
  border-left-color: #ddd;
  animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

/* Preloader Animations */

@keyframes ytp-spinner-linspin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes ytp-spinner-easespin {
  12.5% {
    transform: rotate(135deg);
  }
  25% {
    transform: rotate(270deg);
  }
  37.5% {
    transform: rotate(405deg);
  }
  50% {
    transform: rotate(540deg);
  }
  62.5% {
    transform: rotate(675deg);
  }
  75% {
    transform: rotate(810deg);
  }
  87.5% {
    transform: rotate(945deg);
  }
  to {
    transform: rotate(1080deg);
  }
}

@keyframes ytp-spinner-left-spin {
  0% {
    transform: rotate(130deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(130deg);
  }
}

@keyframes ytp-right-spin {
  0% {
    transform: rotate(-130deg);
  }
  50% {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-130deg);
  }
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-105 {
  margin-top: 105px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-115 {
  margin-top: 115px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-125 {
  margin-top: 125px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-135 {
  margin-top: 135px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-145 {
  margin-top: 145px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-155 {
  margin-top: 155px;
}

.mt-160 {
  margin-top: 160px;
}

.mt-165 {
  margin-top: 165px;
}

.mt-170 {
  margin-top: 170px;
}

.mt-175 {
  margin-top: 175px;
}

.mt-180 {
  margin-top: 180px;
}

.mt-185 {
  margin-top: 185px;
}

.mt-190 {
  margin-top: 190px;
}

.mt-195 {
  margin-top: 195px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-205 {
  margin-top: 205px;
}

.mt-210 {
  margin-top: 210px;
}

.mt-215 {
  margin-top: 215px;
}

.mt-220 {
  margin-top: 220px;
}

.mt-225 {
  margin-top: 225px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-105 {
  margin-bottom: 105px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-115 {
  margin-bottom: 115px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-125 {
  margin-bottom: 125px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-135 {
  margin-bottom: 135px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-145 {
  margin-bottom: 145px;
}

.mb-150 {
  margin-bottom: 150px;
}

.mb-155 {
  margin-bottom: 155px;
}

.mb-160 {
  margin-bottom: 160px;
}

.mb-165 {
  margin-bottom: 165px;
}

.mb-170 {
  margin-bottom: 170px;
}

.mb-175 {
  margin-bottom: 175px;
}

.mb-180 {
  margin-bottom: 180px;
}

.mb-185 {
  margin-bottom: 185px;
}

.mb-190 {
  margin-bottom: 190px;
}

.mb-195 {
  margin-bottom: 195px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mb-205 {
  margin-bottom: 205px;
}

.mb-210 {
  margin-bottom: 210px;
}

.mb-215 {
  margin-bottom: 215px;
}

.mb-220 {
  margin-bottom: 220px;
}

.mb-225 {
  margin-bottom: 225px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-105 {
  padding-top: 105px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-125 {
  padding-top: 125px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-135 {
  padding-top: 135px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-145 {
  padding-top: 145px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-155 {
  padding-top: 155px;
}

.pt-160 {
  padding-top: 160px;
}

.pt-165 {
  padding-top: 165px;
}

.pt-170 {
  padding-top: 170px;
}

.pt-175 {
  padding-top: 175px;
}

.pt-180 {
  padding-top: 180px;
}

.pt-185 {
  padding-top: 185px;
}

.pt-190 {
  padding-top: 190px;
}

.pt-195 {
  padding-top: 195px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-205 {
  padding-top: 205px;
}

.pt-210 {
  padding-top: 210px;
}

.pt-215 {
  padding-top: 215px;
}

.pt-220 {
  padding-top: 220px;
}

.pt-225 {
  padding-top: 225px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-105 {
  padding-bottom: 105px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-115 {
  padding-bottom: 115px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-125 {
  padding-bottom: 125px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-135 {
  padding-bottom: 135px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-145 {
  padding-bottom: 145px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-155 {
  padding-bottom: 155px;
}

.pb-160 {
  padding-bottom: 160px;
}

.pb-165 {
  padding-bottom: 165px;
}

.pb-170 {
  padding-bottom: 170px;
}

.pb-175 {
  padding-bottom: 175px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pb-185 {
  padding-bottom: 185px;
}

.pb-190 {
  padding-bottom: 190px;
}

.pb-195 {
  padding-bottom: 195px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pb-205 {
  padding-bottom: 205px;
}

.pb-210 {
  padding-bottom: 210px;
}

.pb-215 {
  padding-bottom: 215px;
}

.pb-220 {
  padding-bottom: 220px;
}

.pb-225 {
  padding-bottom: 225px;
}

/*===========================
    02.HEADER css 
===========================*/
/*===== NAVBAR =====*/
.navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.3s ease-out 0s;
}

.sticky {
  border-radius: 100px;
  border: 1px solid #e4daff;
  margin-top: 1.25rem;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
  align-items: center;
  width: 90%;
  position: fixed;
  z-index: 99;
  background-color: #f6f4ff;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-out 0s;
}

.sticky .navbar {
  padding: 10px 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sticky .navbar {
    padding: 10px 0;
  }
}

@media (max-width: 767px) {
  .sticky .navbar {
    padding: 10px 0;
  }
}

.sticky .navbar .navbar-nav .nav-item a {
  color: #222;
}

.sticky .navbar .navbar-nav .nav-item a::before {
  opacity: 0.5;
}

.sticky .navbar .navbar-toggler .toggler-icon {
  background: #263238;
}

.navbar {
  padding: 0;
  border-radius: 5px;
  position: relative;
  transition: all 0.3s ease-out 0s;
  padding: 20px 0;
}
.button-navbar {
  color: #fff;
  background-color: #1a1a1a;
  border: 0 transparent;
  border-radius: 100px;
  flex: 0 auto;
  padding: 1rem 2rem;
  transition: transform 0.2s ease-in-out, background-color 0.3s;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar {
    padding: 17px 0;
  }
}

@media (max-width: 767px) {
  .navbar {
    padding: 17px 0;
  }
}

.navbar-brand {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-brand h5 {
  font-family: sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}
.navbar-brand img {
  max-width: 35px;
}
@media (min-width: 450px) {
  .navbar-brand img {
    max-width: 40px;
  }
  .navbar-brand h5 {
    font-size: 25px;
  }
}
@media (min-width: 765px) {
  .navbar-brand img {
    max-width: 60px;
  }
}
.navbar-toggler {
  padding: 0;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: #222;
  display: block;
  margin: 5px 0;
  position: relative;
  transition: all 0.3s ease-out 0s;
}

.navbar-toggler.active .toggler-icon:nth-of-type(1) {
  transform: rotate(45deg);
  top: 7px;
}

.navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}

.navbar-toggler.active .toggler-icon:nth-of-type(3) {
  transform: rotate(135deg);
  top: -7px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 20px;
    width: 40%;
    margin-top: 1.2rem;
    background-color: #fff;
    z-index: 9;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 12px;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 20px;
    width: 40%;
    margin-top: 1.2rem;
    background-color: #fff;
    z-index: 9;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 12px;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 40px;
}

@media (max-width: 767px) {
  .navbar-nav .nav-item {
    position: relative;
    margin-left: 0%;
  }
}

.navbar-nav .nav-item a {
  font-size: 18px;
  font-weight: 400;
  color: #676f73;
  transition: all 0.3s ease-out 0s;
  padding: 10px 0;
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item a {
    display: inline-block;
    margin-left: 5%;
    color: #676f73;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item a {
    display: inline-block;
    margin-left: 5%;
    color: #676f73;
  }
}

.navbar-nav .nav-item a::before {
  content: "";
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(232, 80, 91, 0.25);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s ease-out 0s;
  z-index: -1;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item a::before {
    opacity: 0.5;
    top: 0;
    left: 0;
    transform: translate(0) scale(1);
    height: 100%;
    width: 0;
    border-radius: 0;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item a::before {
    opacity: 0.5;
    top: 0;
    left: 0;
    transform: translate(0) scale(1);
    height: 100%;
    width: 0;
    border-radius: 0;
  }
}

.navbar-nav .nav-item a:hover::before,
.navbar-nav .nav-item a.active::before {
  transform: translate(-50%, -50%) scale(1);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item a:hover::before,
  .navbar-nav .nav-item a.active::before {
    opacity: 0.5;
    top: 0;
    left: 0;
    transform: translate(0) scale(1);
    width: 100%;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item a:hover::before,
  .navbar-nav .nav-item a.active::before {
    opacity: 0.5;
    top: 0;
    left: 0;
    transform: translate(0) scale(1);
    width: 100%;
  }
}

.navbar-nav .nav-item:hover .sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
}

.navbar-nav .nav-item .sub-menu {
  width: 200px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 110%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: none;
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: none;
    opacity: 1;
    visibility: visible;
  }
}

.navbar-nav .nav-item .sub-menu li {
  display: block;
}

.navbar-nav .nav-item .sub-menu li a {
  display: block;
  padding: 8px 20px;
  color: #222;
}

.navbar-nav .nav-item .sub-menu li a.active,
.navbar-nav .nav-item .sub-menu li a:hover {
  padding-left: 25px;
  color: #7663ce;
}

.navbar-nav .sub-nav-toggler {
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    color: #222;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 767px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    color: #222;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }
}

.navbar-nav .sub-nav-toggler span {
  width: 8px;
  height: 8px;
  border-left: 1px solid #222;
  border-bottom: 1px solid #222;
  transform: rotate(-45deg);
  position: relative;
  top: -5px;
}

.hero-section {
  background-color: #ddcdfc;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.hero-section h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.hero-section .hero-shape {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: -100px;
  display: none;
}
/* ----------------Carrusel Section ---------- */
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}
.Carrusel-track h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 1.2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #7663ce;
  width: 100%;
}
@media (min-width: 350px) {
  .Carrusel-track h1 {
    font-size: 40px;
  }
}

.Carrusel {
  background: white;
  /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125); */
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 98%;
  margin-bottom: 1rem;
}
.Carrusel::before,
.Carrusel::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 100px;
  z-index: 2;
}

@media (min-width: 450px) {
  .Carrusel::before,
  .Carrusel::after {
    width: 200px;
  }
}
.Carrusel::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.Carrusel::before {
  left: 0;
  top: 0;
}
.Carrusel .Carrusel-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.Carrusel .slide {
  align-items: center;
  height: 100px;
  width: 700px;
}

/* ----------------Plan pro Section ---------- */
.container-large-26 {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}
.container-large-25 {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
}
.container-grid {
  grid-template-columns: 1fr 1fr;
  background-color: #c7b8ea;
  grid-column-gap: 0rem;
  grid-row-gap: 4rem;
  background-color: #ffe9e9;
  border-radius: 30px;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}
.content-grid-1 {
  background-color: #f6f4ff;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 15% 10%;
}
.content-img-top {
  unicode-bidi: isolate;
  display: flex;
  align-items: center;
  color: var(--negro);
  font-weight: 700;
}
.img-grid-1 {
  max-width: 25%;
}
.h1-grid-1 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #1a1a1a;
  text-align: left;
  padding-left: 0%;
  font-size: 70px;
  line-height: 60px;
}
.div-h2-grid-1{

}
.h2-grid-1 {
  color: #1a1a1a;
  margin-bottom: 0;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 27px;
  text-decoration: none;
}
.content-grid-2 {
  background-color: transparent;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
  position: relative;
}
.w-tab-content {
  display: block;
  position: relative;
  overflow: hidden;
}
.w-layout-grid {
  grid-column-gap: 2rem;
  grid-row-gap: 0rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  display: grid;
  grid-auto-columns: 1fr;
  
}
.pricing11-plan {
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 2rem;
  background-color: transparent;
  border-style: none;
  padding: 0;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}
.pricing11-content-top {
  flex-direction: column;
  align-items: center;
  display: flex;
}
.content-pricing-1 {
  color: var(--negro);
  font-weight: 700;
}
.content-pricing-2 {
  text-align: center;
  align-self: stretch;
}
.title-grid-1 {
  color: #551ec4;
  padding-top: 10px;
  text-align: left;
  padding-left: 0%;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 70px;
  line-height: 60px;
  text-align: center;
}
.content-pricing-3 {
  padding-top: 40px;
  color: var(--negro);
  font-weight: 700;
}
.sin-nada a{
  text-decoration: none;
}
.content-pricing-4 {
  grid-column-gap: 1rem;
  grid-row-gap: .25rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-top: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: grid;
}
.div-list-grid-2{
  display: flex;
  flex-direction: column;
  align-self: start;
  padding-bottom: 20px;
}
.content-list-grid-2{
  color: var(--negro);
  margin-bottom: 0;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 27px;
  text-decoration: none;
  align-items: center;
  display: flex;
}
.contetn-list {
  text-align: start;
}
.div-img-grid-2 {
  flex: none;
  align-self: flex-start;
  margin-right: .5rem;
}
.img-grid-2 {
  max-width: 100%;
}
@media only screen and (max-width: 499px) {
  .container-grid {
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
  }
  .img-grid-1 {
    max-width: 40%;
  }
  .h1-grid-1 {
    font-size: 40px;
    line-height: 35px;
  }
  .h2-grid-1 {
    font-size: 1rem;
    line-height: 20px;
  }
  .title-grid-1 {
    font-size: 40px;
    line-height: 35px;
  }
  .content-list-grid-2{
    font-size: 1rem;
    line-height: 20px;
  }
  .img-grid-2 {
    max-width: 100%;
  }
  .pricing11-content-top {
   margin-bottom: .5rem;
   padding-top: 0rem;
  }
}
@media only screen and (min-width: 500px) and (max-width: 800px) {
  .container-grid {
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
  }
  .img-grid-1 {
    max-width: 40%;
  }
  .h1-grid-1 {
    font-size: 50px;
    line-height: 45px;
  }
  .h2-grid-1 {
    font-size: 1.2rem;
    line-height: 22px;
  }
  .title-grid-1 {
    font-size: 50px;
    line-height: 45px;
  }
  .content-list-grid-2{
    font-size: 1.2rem;
    line-height: 22px;
  }
  .img-grid-2 {
    max-width: 100%;
  }
  .pricing11-content-top {
    margin-bottom: 1.5rem;
   }
}
@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .container-grid {
    grid-template-columns: 1fr 1fr;
  }
  .img-grid-1 {
    max-width: 50%;
  }
  .h1-grid-1 {
    font-size: 60px;
    line-height: 55px;
  }
  .h2-grid-1 {
    font-size: 1.6rem;
    line-height: 27px;
  }
  .title-grid-1 {
    font-size: 60px;
    line-height: 55px;
  }
  .content-list-grid-2{
    font-size: 1rem;
    line-height: 27px;
  }
  .img-grid-2 {
    max-width: 50%;
  }
}
/* ----------------Plan pro Section End ---------- */
/* ----------------Carrusel Section End ---------- */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-section {
    padding-top: 50px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-section {
    padding-top: 60px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-section {
    padding-top: 60px;
  }
}

@media (max-width: 767px) {
  .hero-section {
    padding-top: 60px;
  }
}

@media only screen and (min-width: 768px) {
  .hero-section .hero-content {
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .hero-section .hero-content {
    margin-bottom: 25px;
  }
}

.hero-section .hero-content h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
  margin-bottom: 15px;
  color: #1a1a1a;
}
.hero-section2 .hero-content2 h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
  display: block;
  text-align: center;
  margin-bottom: 15px;
  color: #000000;
}
.hero-section3 .hero-content3 h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  display: block;
  text-align: center;
  margin-bottom: 15px;
  color: #000000;
}
.div-info-mark-log {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 470px) {
  .hero-section3 .hero-content3 h1 {
    font-size: 60px;
  }
}
.hero-content3-1 p {
  text-align: center;
  display: block;
  justify-content: center;
  margin-left: 3.5%;
}
@media (min-width: 470px) {
  .hero-content3-1 p {
    margin-left: 0%;
    text-align: end;
  }
}
.hero-content3-2 p {
  text-align: center;
  display: block;
  justify-content: center;
  margin-left: 3.5%;
}
@media (min-width: 470px) {
  .hero-content3-2 p {
    text-align: start;
    margin-left: 0%;
  }
}
.img-log {
  margin-left: 3.5%;
}
@media (min-width: 470px) {
  .img-log {
    margin-left: 0%;
  }
}
.img-mark {
  margin-left: 3.5%;
  border-top: 3px solid  var(--morado-oscuro);
}
@media (min-width: 470px) {
  .img-mark {
    margin-left: 0%;
    border-top: 3px solid var(--morado-oscuro);
  }
}
.func-section .func-content h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: auto;
  display: block;
  text-align: center;
  margin-bottom: 15px;
  color: #000000;
}
.hero-section2 {
  background-color: #ddcdfc;
}
.hero-section3 {
  background-color: #ddcdfc;
}
.func-section {
  background-color: #fff;
}
.content h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
}
/* -----------------------Section Ventas------------------------ */
.ventas-section {
  background-color: #ddcdfc;
}
.ventas-section h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: auto;
  display: block;
  text-align: center;
  margin-bottom: 15px;
  color: #000000;
}
.ventas-content h2 {
  padding-top: 1.2rem;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.ventas-content h3 {
  padding-top: 1.2rem;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.ventas-div-card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  padding-bottom: 1rem;
}
@media (min-width: 470px) {
  .ventas-div-card {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 770px) {
  .ventas-div-card {
    grid-template-columns: repeat(3, 1fr);
  }
}
.ventas-card {
  background-color: white;
  border: 0 transparent;
  border-radius: 30px;
  transition: transform 0.2s ease-in;
  box-shadow: 0 0 20px rgba(143, 143, 143, 0.15);
}
.div-content-ventas {
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 1.5rem 1.5rem 3rem;
  display: flex;
}
.div-content-ventas-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  unicode-bidi: isolate;
  text-align: center;
}
.div-content-ventas-2 h3 {
  font-size: 40px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.content-ventas-text {
  text-align: center;
  margin-bottom: 1rem;
}
.content-ventas-text-2 h4 {
  margin-bottom: 1rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.div-button-ventas {
  bottom: 0;
}
.button-ventas {
  background-color: #1a1a1a;
  color: #fff;
  border: 0 transparent;
  border-radius: 100px;
  flex: 0 auto;
  padding: 1rem 2rem;
}
/* -----------------------Section Ventas end------------------------ */
/* -----------------------Section Nuestras Funcionalidades------------------------ */
.header-div-card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  padding-bottom: 1rem;
}

@media (min-width: 470px) {
  .header-div-card {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 770px) {
  .header-div-card {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1000px) {
  .header-div-card {
    grid-template-columns: repeat(3, 1fr);
  }
}
.header-card {
  background-color: white;
  border: 0 transparent;
  border-radius: 30px;
  transition: transform 0.2s ease-in;
  box-shadow: 0 0 20px rgba(143, 143, 143, 0.15);
}
.card-funciones {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  text-decoration: none;
}
.div-img-func {
  width: 100%;
  padding-top: 66%;
  position: relative;
  overflow: hidden;
}
.func-img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
}
.div-content-func {
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 3rem;
  display: flex;
}
.div-content-func-2 h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
  display: block;
  unicode-bidi: isolate;
}
.content-func-text {
  margin-bottom: 0.5rem;
}
.content-func-text-2 {
  font-size: 1rem;
  color: #5f5f64;
}

/* -----------------------Section Nuestras Funcionalidades end------------------------ */
/* -----------------------Section Porque deberias tener tu propio ecomerce------------------------ */
.prop-section {
  background-color: #1a1a1a;
  display: block;
}
.div-content {
  grid-column-gap: 0rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}
@media (max-width: 420px) {
  .div-content {
    grid-template-columns: 1fr;
  }
}
.prop-image {
}
.header36_image {
  object-fit: cover;
  width: 100%;
  height: 70vh;
  max-height: 60rem;
}
@media (max-width: 420px) {
  .header36_image {
    height: auto;
    max-height: none;
  }
}
.prop-content h1 {
  max-width: 35rem;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #f6f4ff;
}
.prop-content p {
  color: #f6f4ff;
  margin-bottom: 0;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 27px;
  text-decoration: none;
  max-width: 35rem;
  margin-left: 5%;
  margin-right: 5%;
}
@media (max-width: 420px) {
  .prop-content2 {
    text-align: center;
  }
  .prop-content {
    text-align: center;
    font-size: 45px;
    line-height: 44px;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

/* -----------------------Section Porque deberias tener tu propio ecomerce end------------------------ */
/* -----------------------Section No esperen mas------------------------ */
.crec-header {
  background-image: radial-gradient(
    circle farthest-corner at 100% 100%,
    #e5ecff,
    #ddcdfc 52%,
    #e5ecff
  );
  margin-bottom: -10%;
  padding-bottom: 10%;
}
.div-content-crec {
  border-bottom: 0 #000;
  padding-left: 5%;
  padding-right: 5%;
}
.div-content-2-crec {
  width: 100%;
  max-width: 55rem;
  margin-left: auto;
  margin-right: auto;
}
.div-content-3-crec {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.div-content-text {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.content-div {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
.content-div-2 {
  color: #000;
  font-weight: 600;
}
.content-h1 {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
.content-h1-2 {
  color: #1a1a1a;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  line-height: 75px;
}
.content-h1-2 h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.content-p {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  margin-bottom: 20px;
}
.content-button-2 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}
.content-button {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: flex;
}
.button-10 {
  background-color: #1a1a1a;
  color: #fff;
  border: 0 transparent;
  border-radius: 100px;
  flex: 0 auto;
  padding: 1rem 2rem;
}
/* -----------------------Section No esperen mas end------------------------ */
.imgOfert {
  transform: rotate(45deg);
  width: 80%;
}
.textOfert {
  transform: rotate(45deg);
  font-size: 30px;
  color: #7663ce;
}
.imagenDeOferta {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 20px;
}
.imagenDeOferta:hover {
  scale: 101%;
  animation-delay: 2s;
  animation: normal;
  transition-delay: 2s;
  transition: all;
  -webkit-box-shadow: 0px 10px 8px -3px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 10px 8px -3px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 10px 8px -3px rgba(0, 0, 0, 0.26);
}
@media (min-width: 1024px) {
  .imagenDeOferta {
    width: 100%;
  }
}

.hero-section .hero-content span {
  color: black;
}
.hero-section .hero-content h4 {
  margin-bottom: 15px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-section .hero-content h1 {
    font-size: 55px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-section .hero-content h1 {
    font-size: 48px;
  }
}

@media (max-width: 767px) {
  .hero-section .hero-content h1 {
    font-size: 40px;
  }
}
@media (max-width: 367px) {
  .hero-section .hero-content h1 {
    font-size: 25px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .hero-section .hero-content h1 {
    font-size: 50px;
  }
}

.hero-section .hero-content h1 span {
  font-weight: 400;
  display: inline;
}

.hero-section .hero-content p {
  margin-bottom: 15px;
  padding-right: 55px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-section .hero-content p {
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .hero-section .hero-content p {
    padding-right: 0;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-section .hero-img img {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-section .hero-img img {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-section .hero-img img {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .hero-section .hero-img img {
    width: 100%;
  }
}

.service-section .single-service {
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
}

.service-section .single-service:hover {
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05);
}

.service-section .single-service .icon {
  margin-bottom: 40px;
  width: 90px;
  height: 90px;
}

.service-section .single-service .icon img {
  max-width: 100%;
}

.service-section .single-service .content h3 {
  font-weight: 600;
  margin-bottom: 25px;
}

.about-section .about-img img {
  width: 100%;
}

.about-section .about-content {
  padding-left: 75px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-section .about-content {
    padding-left: 0;
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .about-section .about-content {
    padding-left: 0;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-section .about-content {
    padding-left: 0;
    margin-top: 50px;
  }
}

.about-section .about-content .section-title h1 {
  margin-bottom: 35px;
}

.about-section .about-content .section-title p {
  margin-bottom: 35px;
}

.about-section .about-content .rating-meta {
  margin-bottom: 35px;
}

.about-section .about-content .rating-meta h5 {
  font-size: 20px;
  font-weight: 700;
  margin-right: 20px;
}

.about-section .about-content .rating-meta .rating {
  color: #e96a20;
}

.about-section .about-content .counter-up {
  background: #000000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-section .about-content .counter-up .single-counter {
  padding: 20px 0;
  margin: 0 15px;
}

.about-section .about-content .counter-up .single-counter::before,
.about-section .about-content .counter-up .single-counter::after {
  content: "";
  position: absolute;
  width: 2px;
  height: calc(100% - 40px);
  background: #fff;
  top: 20px;
  border-radius: 5px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-section .about-content .counter-up .single-counter::before,
  .about-section .about-content .counter-up .single-counter::after {
    opacity: 0;
  }
}

@media (max-width: 767px) {
  .about-section .about-content .counter-up .single-counter::before,
  .about-section .about-content .counter-up .single-counter::after {
    opacity: 0;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .about-section .about-content .counter-up .single-counter::before,
  .about-section .about-content .counter-up .single-counter::after {
    opacity: 1;
  }
}

.about-section .about-content .counter-up .single-counter::before {
  left: -50%;
}

.about-section .about-content .counter-up .single-counter::after {
  right: -50%;
}

.about-section .about-content .counter-up .single-counter h3 {
  color: #fff;
  margin-bottom: 5px;
}

.about-section .about-content .counter-up .single-counter h5 {
  font-weight: 500;
  color: #fff;
}

@media only screen and (min-width: 700px) and (max-width: 1200px) {
  .delivery-img {
    margin-bottom: 25px;
    max-width: 350px;
  }
}
@media only screen and (min-width: 1200px) {
  .delivery-img {
    max-width: 550px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .div-delivery-img {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .delivery-img {
    margin-bottom: 25px;
  }
}
.div-delivery-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.delivery-img img {
  max-width: 50%;
}
.delivery-img{
  align-items: center;
  display: flex;
  justify-content: center;
}
.layout219_image{
  max-width: 50%;
}
.testimonial-section .testimonial-wrapper {
  margin-top: 60px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .testimonial-section .testimonial-wrapper {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .testimonial-section .testimonial-wrapper {
    margin-top: 0;
  }
}

.testimonial-section .testimonial-wrapper .-mt-30 {
  margin-top: -30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .testimonial-section .testimonial-wrapper .-mt-30 {
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  .testimonial-section .testimonial-wrapper .-mt-30 {
    margin-top: 0px;
  }
}

.testimonial-section .testimonial-wrapper .-mt-60 {
  margin-top: -60px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .testimonial-section .testimonial-wrapper .-mt-60 {
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  .testimonial-section .testimonial-wrapper .-mt-60 {
    margin-top: 0px;
  }
}

.testimonial-section .single-testimonial {
  padding: 40px 30px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: all 0.3s ease-out 0s;
}

.testimonial-section .single-testimonial:hover {
  box-shadow: 0px 0px 40px rgba(149, 149, 149, 0.25);
  border-color: transparent;
}

.testimonial-section .single-testimonial .rating {
  margin-bottom: 10px;
  color: #e96a20;
}

.testimonial-section .single-testimonial .rating i {
  margin-right: 10px;
  font-size: 14px;
}

.testimonial-section .single-testimonial .content {
  margin-bottom: 10px;
}

.testimonial-section .single-testimonial .info {
  display: flex;
  align-items: center;
}

.testimonial-section .single-testimonial .info .image {
  max-width: 48px;
  width: 100%;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.testimonial-section .single-testimonial .info .image img {
  width: 100%;
}

.testimonial-section .single-testimonial .info .text h5 {
  font-weight: 500;
}

.testimonial-section .single-testimonial .info .text p {
  font-size: 16px;
}

.partner-section .single-partner {
  opacity: 0.43;
  transition: all 0.3s ease-out 0s;
}

.partner-section .single-partner:hover {
  opacity: 1;
}

.footer-brand {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-brand h5 {
  font-family: sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  color: white;
}
.footer-brand img {
  max-width: 35px;
}
@media (min-width: 450px) {
  .footer-brand img {
    max-width: 40px;
  }
  .footer-brand h5 {
    font-size: 25px;
  }
}
@media (min-width: 765px) {
  .footer-brand img {
    max-width: 60px;
  }
}
.footer {
  background: #263238;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  z-index: 1;
}
@media (min-width: 765px) {
  .footer {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
}

.footer .footer-shape .shape {
  position: absolute;
  z-index: -1;
  display: none;
}

.footer .footer-shape .shape.shape-1 {
  left: 0;
  bottom: 0;
}

.footer .footer-shape .shape.shape-2 {
  right: 0;
  bottom: 0;
}

.footer .footer-widget {
  margin-bottom: 10px;
}

.footer-widget h3 {
}
.footer .footer-widget .logo a {
  display: inline-block;
  margin-bottom: 15px;
}

.footer .footer-widget .download-btns a {
  display: inline-flex;
  align-items: center;
  padding: 14px 30px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid #fff;
  margin-bottom: 10px;
  margin-right: 20px;
}

.footer .footer-widget .download-btns a:hover {
  background: #7663ce;
  border-color: #7663ce;
}

.footer .footer-widget .download-btns a .icon {
  font-size: 24px;
  margin-right: 20px;
  color: #fff;
}

.footer .footer-widget .download-btns a .text {
  font-size: 10px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}

.footer .footer-widget .download-btns a .text b {
  display: block;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

.footer .footer-widget h3 {
  color: #fff;
  margin-bottom: 15px;
}

.footer .footer-widget ul.links li a {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #b1b1b1;
}

.footer .footer-widget ul.links li a:hover {
  color: #7663ce;
}

@media (min-width: 1600px) {
  .footer .footer-shape .shape {
    display: block;
  }
  .hero-section .hero-shape {
    display: block;
  }
}
